### This datset indicates the water consumption in the Austin Area. 
The dataset can be found at
https://data.austintexas.gov/Utilities-and-City-Services/Austin-Water-Residential-Water-Consumption/sxk7-7k6z 
The following Hypothesis needs to be validated <br>
1) Water consumption is High during summer months (June - Aug/Sep)<br>

The following insights need to be derived.<br>
1) How does consumption by Customer class vary<br>
2) How does consumption by Zip code vary. Can we obtain population by zip code and notice any correlation?<br>

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from time import strptime

ImportError: No module named calender

In [2]:
data=pd.read_csv("Austin_Water_-_Residential_Water_Consumption.csv")
data.head()

   Year Month  Postal Code             Customer Class  Total Gallons
0      201201        78613               Multi-Family          23000
1      201201        78613  Irrigation - Multi-Family          11000
2      201201        78617               Multi-Family        2477000
3      201201        78617                Residential       19962500
4      201201        78652   Irrigation - Residential          38500

In [3]:
# Check the shape, column names, info and summary
print("Number of Rows %d\n" % data.shape[0])
print("Number of Columns %d\n" % data.shape[1])
print("List of Columns names %s\n" % data.columns)
print("Information %s\n" % data.info())
print("Description %s\n" % data.describe())

Number of Rows 11132

Number of Columns 4

List of Columns names Index([u'Year Month', u'Postal Code', u'Customer Class', u'Total Gallons'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11132 entries, 0 to 11131
Data columns (total 4 columns):
Year Month        11132 non-null int64
Postal Code       11132 non-null int64
Customer Class    11132 non-null object
Total Gallons     11132 non-null int64
dtypes: int64(3), object(1)
memory usage: 391.4+ KB
Information None

Description           Year Month   Postal Code  Total Gallons
count   11132.000000  11132.000000   1.113200e+04
mean   201452.913403  78726.312343   1.245802e+07
std       170.045011     31.575193   1.917752e+07
min    201201.000000  78613.000000   0.000000e+00
25%    201306.000000  78721.000000   1.576000e+05
50%    201412.000000  78731.000000   2.790200e+06
75%    201605.000000  78748.000000   1.726955e+07
max    204406.000000  78759.000000   1.255698e+08

In [4]:
#Convert the 'Year Month' column to date type and make it the index.
data.index=pd.to_datetime(data['Year Month'].apply(lambda x: datetime.strptime(str(x),"%Y%m").date()))
#Delete the columns 'Year Month'
del data['Year Month']

In [5]:
#Check to see the change in Index.
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11132 entries, 2012-01-01 to 2044-06-01
Data columns (total 3 columns):
Postal Code       11132 non-null int64
Customer Class    11132 non-null object
Total Gallons     11132 non-null int64
dtypes: int64(2), object(1)
memory usage: 304.4+ KB

In [6]:
#We notice an the max date of 2044-06-01. This date is in the future and seems to be an anamoly. 
#Let us check
print(data.index.value_counts())
# Bingo!! This is defintely an outlier. It only has one value. Let us drop it
data=data.drop(data.index[-1])

Year Month
2017-08-01    167
2017-09-01    167
2017-06-01    166
2017-07-01    166
2017-01-01    165
2017-03-01    165
2017-04-01    165
2016-12-01    165
2016-10-01    165
2016-11-01    165
2017-05-01    165
2017-02-01    165
2016-05-01    163
2016-04-01    163
2016-02-01    163
2016-01-01    162
2015-12-01    162
2016-09-01    162
2016-06-01    162
2016-07-01    162
2016-03-01    162
2016-08-01    162
2015-05-01    161
2015-08-01    161
2015-11-01    161
2015-10-01    161
2015-09-01    161
2015-03-01    161
2015-04-01    161
2015-07-01    161
             ...
2013-11-01    157
2013-07-01    156
2014-06-01    156
2013-08-01    156
2014-07-01    156
2014-09-01    156
2014-08-01    156
2014-05-01    156
2012-01-01    156
2014-04-01    156
2013-09-01    156
2012-07-01    155
2013-05-01    155
2012-12-01    155
2012-05-01    155
2013-01-01    155
2012-11-01    155
2013-02-01    155
2012-10-01    155
2012-04-01    155
2013-06-01    155
2012-08-01    155
2012-09-01    155
2013-04-01    155
2013-03-01    155
2012-06-01    155
2012-03-01    155
2012-02-01    155
2017-10-01    143
2044-06-01      1
dtype: int64

In [ ]:
data[["Total Gallons","Customer Class"]].groupby([data.index]).mean().plot()
plt.show()